
<footer class="mainFooter">
  <!--Footer klassen är bara döpt eftersom där finns footers i posts och vi vill undvika alla sorters komplikatioer-->
		<div class="col-md-6 leftsidefooter">
				<h4>AddIt. | <small>Share it. Read it. Live it.</small></h4>
		</div>
		<div class="col-md-6 rightsidefooter">
			This site & socialnetwork is coded with <i class="fa fa-heart"></i> by the fine folks at RiaThree. <br>
			Join us at: <i class="fa fa-facebook-square"></i> &nbsp; <i class="fa fa-twitter-square"></i> &nbsp; <i class="fa fa-instagram"></i>
		</div>
</footer>
